<footer class="footer">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <small>
        Created with <a href='https://www.jetbrains.com/webstorm/' target="_blank">WebStorm</a>
    </small>
    <div class="footer bg-blue">
        <ul>
            <li><a href="#top" class="fa fa-arrow-up"></a></li>
            <li><a href='index.html' class="fa fa-home"></a></li>
            <li><a href='https://github.com/ottter' target='_blank' class="fa fa-github"></a></li>
        </ul>
    </div>
</footer>