<a id="top"></a>

<div class="navbar navbar-expand-sm navbar-light bg-blue">
    <button class="navbar-toggler mr-2" type="button" data-toggle="collapse" data-target="#navbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <span class="navbar-brand d-flex flex-fill"><a class="nav-link nav-item navbar-nav" href="/cooking_site/index.html">The Secret Recipe</a></span>
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" id="navbar">
        <ul class="nav navbar-nav mr-auto">
            <li class="dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Breakfast<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link nav-link-item" href="/cooking_site/recipes/crepes.html">Crepes</a></li>
                    <li><a class="nav-link nav-link-item" href="/cooking_site/recipes/frenchtoast.html">French Toast</a></li>
                    <li><a class="nav-link nav-link-item" href="/cooking_site/recipes/pancakes.html">Pancakes</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/main/lunch.html">Lunch</a>
            </li>
            <li class="dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Dinner<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link nav-link-item" href="/cooking_site/recipes/chickpotpie.html">Chicken Pot Pie</a></li>
                    <li><a class="nav-link nav-link-item" href="/cooking_site/recipes/sourtofu.html">Sweet & Sour Tofu</a></li>
                    <li><a class="nav-link nav-link-item" href="/cooking_site/recipes/peppertofu.html">Black Pepper Tofu</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Dessert<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link nav-link-item" href="/cooking_site/recipes/applepie.html">Apple Pie</a></li>
                    <li><a class="nav-link nav-link-item" href="/cooking_site/recipes/cheesecake.html">Cheesecake</a></li>
                    <li><a class="nav-link nav-link-item" href="/cooking_site/recipes/chocochip.html">Choc. Chip Cookies</a></li>
                    <li><a class="nav-link nav-link-item" href="/cooking_site/recipes/keylimepie.html">Key Lime Pie</a></li>
                    <li><a class="nav-link nav-link-item" href="/cooking_site/recipes/ricottacookie.html">Ricotta Cookies</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../main/castiron.html">Why Cast Iron?</a>
            </li>
        </ul>
        <ul class="nav navbar-nav justify-content-md-center justify-content-start flex-row flex-nowrap">
            <li class="nav-item"><a class="nav-link" href="/cooking_site/main/contact.html">Contact</a></li>
            <li class="nav-item"><a class="nav-link" href='/cooking_site/main/sitemap.html'><i class="fa fa-map-signs"></i></a> </li>
            <li class="nav-item"><a class="nav-link" href='https://github.com/ottter' target='_blank'><i class="fa fa-github"></i></a> </li>
        </ul>
    </div>
</div>