<a id="top"></a>

<div class="navbar navbar-expand-sm navbar-light bg-blue">
    <button class="navbar-toggler mr-2" type="button" data-toggle="collapse" data-target="#navbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <span class="navbar-brand d-flex flex-fill"><a class="nav-link nav-item navbar-nav" href="index.html">Recipe Cookbook</a></span>
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Breakfast<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link nav-link-item" href="breakfast.html">Breakfast</a></li>
                    <li><a class="nav-link nav-link-item" href="#">Crepes</a></li>
                    <li><a class="nav-link nav-link-item" href="#">French Toast</a></li>
                    <li><a class="nav-link nav-link-item" href="#">Pancakes</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="lunch.html">Lunch</a>
            </li>
            <li class="dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Dinner<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link nav-link-item" href="dinner.html">Dinner</a></li>
                    <li><a class="nav-link nav-link-item" href="#">Burgers</a></li>
                    <li><a class="nav-link nav-link-item" href="#">Satay</a></li>
                    <li><a class="nav-link nav-link-item" href="#">Tikka Masala</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Dessert<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link nav-link-item" href="dessert.html">Dessert</a></li>
                    <li><a class="nav-link nav-link-item" href="#">Apple Pie</a></li>
                    <li><a class="nav-link nav-link-item" href="#">Cheesecake</a></li>
                    <li><a class="nav-link nav-link-item" href="#">Choc. Chip Cookies</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="drinks.html">Drinks</a>
            </li>
        </ul>
        <ul class="nav navbar-nav justify-content-md-center justify-content-start flex-row flex-nowrap">
            <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
            <li class="nav-item"><a class="nav-link" href='https://github.com/ottter' target='_blank'><i class="fa fa-github"></i></a> </li>
        </ul>
    </div>
</div>